table {
  width: 400px;
}

h1 {
  font-style: italic;
}

th, td {
  padding: 7px 10px 10px 10px;
  text-align: left;
}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
}

tbody tr:nth-of-type(odd) {
  background-color: #efefef;
}
